<div class="container">
  <div class="row mt-5">
    <div class="col">
    </div>
    <div class="col mt-1 border-right" *ngIf="!isLoggedIn(); else logout">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col text-center">
            <span>Log in</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <div class="mt-3">
              <span class="mr-2">Username:</span>
              <input type="text" formControlName="login" required>
            </div>
            <div class=" mt-1">
              <span class="mr-2">Password:</span>
              <input type="password" formControlName="password" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <button class="mt-3" mat-raised-button color="primary" type="submit">Log in</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<ng-template #logout>
  <div class="col mt-1 border-right text-right">
    <button mat-raised-button color="primary"  (click)="logOut()">logout</button>
  </div>
</ng-template>

