<div [ngStyle]="{'margin-left.px': leftMargin, 'height.px': 25}" [ngClass]="class">
  <mat-list-item *ngIf="!!category" class="border-left">
    <mat-icon style="cursor: pointer;" matListIcon (click)="toggleExpanded()">{{icon}}</mat-icon>
    <span (click)="toggleSelected()">{{category.categoryName}}</span>
    <span *ngIf="adminService.currentTab == 0">
     <span><button mat-icon-button class="mat-error" (click)="categoryCheckBeforeDelete()"><mat-icon>clear</mat-icon></button></span>

     </span>
  </mat-list-item>
</div>
<div *ngIf="expanded" [ngStyle]=
  "adminService.currentTab == 0 ? getExpandedStyle():{'margin-top.px': 0} ">
  <div *ngIf="children.length == 0 && adminService.currentTab == 0; else notEmpty">
    <app-category-place [category]="adminService.getNewCategory(category.idCategory,1)"
                        [selectedElement]="adminService.element"></app-category-place>
  </div>
  <ng-template #notEmpty>
    <div  *ngFor="let category of children;let i = index">
      <app-category-place *ngIf="i==0 && adminService.currentTab == 0"
                          [leftMargin]="(leftMargin) + 30"
                          [category]="adminService.getNewCategory(category.parentId,i+1)"
                          [selectedElement]="adminService.element"></app-category-place> <!--for catch onChange -->
      <app-category-element [category]="category"
                            [leftMargin]="(leftMargin) + 30"
                            [children]="adminService.getChildren(category.idCategory)"></app-category-element>
      <app-category-place *ngIf="adminService.currentTab == 0"
                          [leftMargin]="(leftMargin) + 30"
                          [category]="adminService.getNewCategory(category.parentId,i+2)"
                          [selectedElement]="adminService.element"></app-category-place>
    </div>
  </ng-template>
</div>


