body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  overflow: hidden;
}

.img {
  margin-left: -10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  animation: imgScale 8s linear;
  will-change: opacity;
  will-change: transform;
  opacity: 0;

}

.title {
  font-family: 'Source Code Pro', sans-serif;
  font-size:128px;
  color: #fff;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: titleAnimation 8s linear, neon1 1.5s ease-in-out infinite alternate;
  will-change: opacity;
  will-change: transform;
  opacity: 0;

}

.back-title {
  white-space: nowrap;
  font-family: 'Lobster', georgia, serif;
  font-size:300px;
  color: aqua;
  position: absolute;
  top: 60%;
  z-index: -100;
  will-change: opacity;
  will-change: left;
  animation: back-titleAnimation 9s linear;
  opacity: 0;
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@keyframes imgScale {
  0% {
    transform: scale(.9);
  }
  15% {
    opacity: .9;
  }
  99% {
    opacity: 1;
  }
  100% {

    transform: scale(1);
  }
}

@keyframes titleAnimation {
  0% {
    transform: scale(.9);
  }
  5%{
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes back-titleAnimation {
  0% {
    left: 100%;
    opacity: 0.3;
  }
  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    left: -200%;
  }
}


<!-- -->

.starburst {
  font: 4em/1.4 'Lobster', georgia, serif;
  background: orange;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  color: #228DFF;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}

.starburst,
.starburst span {
  display: flex;
  align-items: center;
  justify-content: center;

}

.starburst span {
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(45deg);


}

.starburst:before,
.starburst:after ,
.starburst span:before,
.starburst span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  transform: rotate(30deg);


}

.starburst:after {
  transform: rotate(-30deg);
}

.starburst span:after {
  transform: rotate(30deg);
}
.starburst span:before {
  transform: rotate(-30deg);
}

.example {
  position: fixed;
  top:70%;
  left: 17%;
  transform: rotate(-15deg) scale(.7);
  opacity: 0;
  animation: price 8s ease-out;

}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes price {
  0% {
    transform: scale(2);
    top:60%;
    left: 0%;
    opacity: 1;
  rotate(-35deg)
  }

  70% {
    opacity: 1;
  }
  100% {
    transform: scale(.7);
  }
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 110%;
  left: 110%;
  width: 64px;
  height: 64px;
  transform: scale(19);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}