<div class="container">
  <div class="row">
    <div class="col" *ngIf="!!adminService.element; else notSelected">
      <form [formGroup]="parametersForm" (ngSubmit)="onSubmit()">
        <div formArrayName="parameters">
          <div><button mat-icon-button class="text-danger" type="button" (click)="addParameter(0)"><mat-icon>add</mat-icon></button></div>
          <div *ngFor="let parameter of parameterFormArray.controls; let i=index"
               [formGroupName]="i">
            <mat-form-field>
              <input matInput formControlName="parameterName" required>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-select formControlName="parameterTypeId" required>
                <mat-option *ngFor="let parameterType of adminService.parameterTypes"
                            [value]="parameterType.idParameterType">{{parameterType.parameterTypeName}}</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-icon-button class="text-danger" type="button" (click)="deleteParameter(i)"><mat-icon>delete_forever</mat-icon></button>
            <div><button mat-icon-button class="text-danger" type="button" (click)="addParameter(i+1)"><mat-icon>add</mat-icon></button></div>
          </div>
        </div>
        <button mat-button type="submit"
                [disabled]="!parametersForm.valid || parameterFormArray.length == 0">Save</button>
      </form>
    </div>
  </div>
  <ng-template #notSelected>
    <div class="col mt-5">
      <p>Please, select Category</p>
    </div>
  </ng-template>
</div>

