<h1 mat-dialog-title>Delete parameter</h1>
<div mat-dialog-content>
  <p>Are you sure?</p>
</div>
<div mat-dialog-actions class="align-content-center">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</div>
