<mat-tab-group (selectedTabChange)="onChangeTab($event)">
  <mat-tab label="Category">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-category-form *ngIf="adminService.currentTab == 0" [category] = "adminService.element && adminService.element.getCategory()"
    [selectedTab]="adminService.currentTab"></app-category-form>
  </mat-tab>
  <mat-tab label="Parameters">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-parameter-form *ngIf="adminService.currentTab == 1" #parameterForm [currentCategory]="adminService.element && adminService.element.getCategory()"
                        [selectedTab]="adminService.currentTab"></app-parameter-form>
  </mat-tab>
  <mat-tab label="Shop Items">
    <app-category [topCategories]="adminService.topCategories"></app-category>
    <app-shop-item-table *ngIf="adminService.currentTab == 2" [currentCategory]="adminService.element && adminService.element.getCategory()"
                         [selectedTab]="adminService.currentTab"></app-shop-item-table>
  </mat-tab>
</mat-tab-group>
