<div class="container mt-lg-2">
  <div class="row clearfix">
    <div class="col float-right mr-5">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="https://www.laoistoday.ie/wp-content/uploads/2018/08/maxresdefault.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Top 10 Customers</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item clearfix" *ngFor="let itemRow of top10CustomersTotal; let i = index">
            <span>{{itemRow[1]}}&nbsp;{{itemRow[2]}}</span> <span class="float-right">{{itemRow[3]}}</span>
          </li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col float-left ml-5">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="https://www.laoistoday.ie/wp-content/uploads/2018/08/maxresdefault.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Top 10 most popular Sop Items</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item clearfix" *ngFor="let itemRow of top10ItemsQty; let i = index">
            <span>{{itemRow[0]}}</span> <span class="float-right">{{itemRow[1]}}</span>
          </li>

        </ul>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <h5>Total for period</h5>
      <form [formGroup]="datesForm" (ngSubmit)="onSubmit()">
        <label class="mr-4">
          From date:
          <input type="datetime-local" formControlName="dateStart" required>
        </label>
        <label class="mr-4">
          To date:
          <input type="datetime-local" formControlName="dateEnd" required>
        </label>
        <button mat-raised-button color="primary" type="submit">Load</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="!!totalForPeriod">
    <div class="col text-center">
      <h1 class="neon" style="font-size: 52px">{{totalForPeriod}}</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">&nbsp;</div>
  </div>
</div>
