<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <h:outputStylesheet name="css/screen.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:900" rel="stylesheet"/>
    <script>
        function onMessage(message, channel, event) {
            console.log('jsf push message::' + message + ", channel ::" + channel + ", event::" + event);
            location.reload();
        }
        function websocketCloseListener(code, channel, event){
            console.log(code);
            console.log(event);
        }
    </script>
</h:head>
<body>
<f:view>
    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <div class="">
                    <ui:repeat value="#{shopItemList}" var="item" varStatus="status">
                        <div class="slides">
                            <div class="row">
                                <div class="col">
                                    <img class="d-block img" style="width: 400px;"
                                         src="http://localhost:8080/stock/#{item.imageLink}"/>
                                </div>
                                <div class="col">
                                    <h1 class="title">#{item.itemName}</h1>
                                    <h2 class="back-title">#{item.itemName}</h2>
                                    <div class="lds-ripple">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="starburst example" id="example-1">$#{item.price}</div>
                                </div>
                            </div>
                        </div>
                    </ui:repeat>

                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS   -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("slides");
            for (i = 0; i &lt; x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) {
                slideIndex = 1
            }
            x[slideIndex - 1].style.display = "block";
            setTimeout(carousel, 7000); // Change image every 7 seconds
        }
    </script>
</f:view>
<f:websocket channel="helloChannel" onmessage="onMessage"  onclose="websocketCloseListener" />
</body>
</html>
