<h1 mat-dialog-title ngClass="primary">Delete category</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <h4>Are you sure?</h4>
  <p>Inside this category:<br>
    <span
      *ngIf="data['childrenCount'] > 0; else noChildren">{{data["childrenCount"]}} children category(-es)</span><br/>
    <ng-template #noChildren>
      <span>no child categories</span>
    </ng-template>
    <span *ngIf="data['shopItemsCount'] > 0; else noShopItems">{{data["shopItemsCount"]}} shop item(-s)</span>
    <ng-template #noShopItems>
      <span>no ShopItems</span>
    </ng-template>
  </p>
</div>
<div mat-dialog-actions class="align-content-center">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</div>
