<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8080/admin-panel">MTG SHOP admin panel</a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show"  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item' *ngFor="let element of getKeys()">
        <a class="nav-link text-nowrap" routerLink="/{{element}}" routerLinkActive="active">{{menuElements.get(element)}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-front/login" id="user-info"><i class="fas fa-user-alt"></i>
        <span *ngIf="!!isLoggedIn(); else logIn">admin</span>
          <ng-template #logIn><span>Log in</span></ng-template>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- background for proper padding calculation -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">MTG SHOP Admin panel</a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item' *ngFor="let element of getKeys()">
        <div class="nav-link text-white">{{menuElements.get(element)}}</div>
      </li>
    </ul>
  </div>
</nav>
