<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <form [formGroup]="datesForm" (ngSubmit)="onSubmit()">
        <label class="mr-4">
          From date:
          <input  type="datetime-local" formControlName="dateStart" required>
        </label>
        <label class="mr-4">
          To date:
          <input type="datetime-local" formControlName="dateEnd" required>
        </label>
        <button mat-raised-button color="primary" type="submit">Load</button>
      </form>
    </div>
  </div>

  <div class="row" *ngIf="!!orders">
    <div class="col">
      <mat-accordion *ngFor="let order of orders;let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h6 class="primary">Order&nbsp;{{order.idOrder}}&nbsp;{{getOrderDate(order.orderDate)}}</h6>

          </mat-expansion-panel-header>
          <span style="float:right">Total: {{getOrderTotal(i)}}</span>
          <p>{{order.customerFirstName}}&nbsp;{{order.customerLastName}}<br/>
            {{order.address}}<br/>
            Payment:&nbsp;{{order.paymentType}}. Shipping:&nbsp;{{order.shipping}}</p>

          <mat-form-field>
            <mat-select [(value)]="order.orderStatus" (selectionChange)="onSelect(i)">
              <mat-option *ngFor="let orderStat of orderStatuses"
                          [value]="orderStat.idOrderStatus">{{orderStat.orderStatusName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-list *ngFor="let orderItem of order.orderItems">
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col w-100">{{orderItem.shopItem}}</div>
              <div class="col align-items-end w-25">{{orderItem.qty}}</div>
              <div class="col align-items-end w-25">{{orderItem.itemPrice}}</div>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
