<div class="container">
  <div *ngIf="!!adminService.element; else notSelected">
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!!adminService.element">
      <div class="row">
        <div class="form-group mt-5" style="margin-left: 10px">

          <label for="categoryName">Category Name</label>

          <span><input type="text" class="form-control" id="categoryName"
                       [(ngModel)]="adminService.element.getCategory().categoryName"
                       name="categoryName" #categoryName="ngModel" [required]="true"></span>
          <button mat-button type="submit" class="btn orange mt-2" [disabled]="!categoryForm.form.valid">Save
          </button>
          <!--   <div [hidden]="categoryName.valid || categoryName.pristine" class="alert alert-danger">
               Введите название категории
             </div> -->

        </div>
      </div>
    </form>
  </div>
  <ng-template #notSelected>
    <div class="mt-5">
      <p>Please, select category or placeholder</p>
    </div>
  </ng-template>
</div>
