<h1 mat-dialog-title>ShopItems fields</h1>
<div mat-dialog-content>
  <div *ngFor="let columnName of columns">
  <span><mat-checkbox [id]="columnName"
                      [checked]="data[columnName]"
                      (change)="onChangeVisible($event)">{{columnName}}</mat-checkbox></span>
  </div>
</div>
<div mat-dialog-actions class="align-content-center">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
