<!--<div style="height: 15px;" [ngClass]="class" (click)="toggleSelected()"></div> -->
<div [ngStyle]="{'margin-left.px': leftMargin, 'height.px': 15}" [ngClass]="class" (click)="toggleSelected()"></div>
